<div class="container">
  <button mat-button>
    <img
      src="assets/houssamBank.png"
      class="d-inline-block align-top w-75"
      alt=""
    />
  </button>

  <button mat-button>
    <a
      class="navbar-brand font-weight-bold"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['is-active']"
      routerLink="/consulter"
      >CONSULTER</a
    >
  </button>

  <button mat-button>
    <a
      class="navbar-brand font-weight-bold"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['is-active']"
      routerLink="/contacter"
      >CONTACTER <span matBadge="4" matBadgeOverlap="false"></span>
    </a>
  </button>

  <button mat-button>
    <a
      class="navbar-brand font-weight-bold"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['is-active']"
      routerLink="/souscrire"
      >SOUSCRIRE</a
    >
  </button>
</div>
