<div class="container">
  <div class="card card-shadow text-center">
    <div class="card-body">
      <img
        class="w-25 rounded float-center"
        src="assets/houssam.jpg"
        alt="Card image cap"
      />
      <ul class="no-bullets mb-4">
        <li>Boucetta Houssam</li>
        <li>Developpeur Front-End</li>
      </ul>

      <ul class="no-bullets">
        <li><a class="font-weight-bold">Télephone:</a> 07 68 07 60 29</li>
        <li><a class="font-weight-bold">E-mail:</a> Houssam.bct @gmail.com</li>
        <li>
          <a class="font-weight-bold">Adresse:</a> 5 rue de Villarceaux, Cergy
        </li>
      </ul>
      <!--      <div style="height: 120px;" class="mt-2" id="mapid"></div>
        -->
    </div>
  </div>
</div>
