<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-consulter-pret-ripple
        [title]="title1"
        [text]="text1"
        [image]="image1"
      ></app-consulter-pret-ripple>
    </div>
    <div class="col-sm-6">
      <app-consulter-pret-ripple
        [title]="title2"
        [text]="text2"
        [image]="image2"
      ></app-consulter-pret-ripple>
    </div>
  </div>

  <div class=mt-4>
    (1) Offres réservées aux particuliers sous réserve d’étude et d’acceptation définitive de votre dossier par le prêteur. Vous disposez d’un délai de rétractation de 14 jours calendaires révolus.

    (2) Offre réservée aux particuliers, après étude et acceptation définitive du dossier par le prêteur, La Banque Houssam. Dans le cadre d'un crédit immobilier, vous disposez d'un délai de réflexion de 10 jours avant d'accepter les propositions d'offre de prêt qui vous sont faites. Toute vente ou construction est subordonnée à l'obtention du (des) prêt(s) sollicité(s).En cas de non-obtention de ce(s) prêt(s), le demandeur sera remboursé par le vendeur des sommes qu'il aura versées.
    
    Prêteur pour les crédits à la consommation : La Banque Houssam Financement - 7 200 000 €. Siège social : CS 40014, 16 avenue  houssam 94212 . Intermédiaire d'assurance immatriculé à l'DFRS sous le n° 09 89741 330. La Banque Houssam Financement est une filiale de La Banque Houssam.
    
    Prêteur pour les crédits immobiliers et distributeur/intermédiaire de crédit du prêteur pour les crédits à la consommation : La Banque Postale - S.A. à 9 585 350 218 €. Siège social : 11565 rue de Sères, 75675 Panam CEDEX 06. RCS Paris 987 100 645. Code APE 3648. 
  </div>
</div>
