<div class="container mt-4">
  <h5>
    A partir de votre Espace Client, vous pouvez nous contacter
    <span class="text-primary">24h/24, 7j/7</span>.
  </h5>
  <h5>Vous souhaitez nous envoyer un message ?</h5>
  <p>
    Découvrez comment communiquer avec nous de manière sécurisée grâce à votre
    messagerie.
  </p>

  <h5>Vous préférez téléphoner ?</h5>

  Pour consulter vos comptes et contrats 24h/24 :
  <span class="text-primary">07 68 07 60 29 </span> (service gratuit + prix
  d'appel) <br />
  Pour prendre un rendez-vous avec un conseiller en bureau :
  <span class="text-primary">07 68 07 60 29 </span> (service gratuit + prix
  d'appel) <br />
  Pour suivre la bonne exécution de vos contrats :
  <span class="text-primary">07 68 07 60 29 </span>(service gratuit + prix
  d'appel) <br />
  Numéro à utiliser qu’en cas de difficulté rencontrée dans l’exécution d’une
  demande ou d’une opération en cours <br />
  Pour accéder à l’ensemble des services de la banque :
  <span class="text-primary">00 00 </span>(service 0,15€ / min + prix d'un
  appel)

  <div class="row mt-4 text-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Votre Bureau</h5>
          <p class="card-text">
            CERGY AGGLO OUEST 2 RUE DES Verdun 95700 CERGY.
          </p>
          <img src="assets/company1.png" width="100px" />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Votre Service Client</h5>
          <p class="card-text">
            La Banque Houssam Centre Financier 89600 LA SOURCE CEDEX 9.
          </p>
          <img class="" src="assets/company2.png" width="100px" />
        </div>
      </div>
    </div>
  </div>
</div>
