<div class="container text-center">
  <div class="card mt-4">
    <div class="card-body">
      <h2>
        Temps d'attente estimé :
        <span class="text-primary">inférieur à 1 minute</span>
      </h2>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h6>Pour joindre un chargé de clientèle</h6>

      <h4>
        Vous pouvez nous contacter du lundi au vendredi*, de 08:00 à 19:00 et le
        samedi*, de 08:00 à 12:00 au
      </h4>

      <h4 class="text-primary">07 68 07 60 29</h4>

      <p>
        Pour toute demande d'assistance à vos services en ligne, composez le 07
        68 07 60 29** choix 4, du lundi au samedi* de 8h00 à 20h00. En cas
        d'urgence, de vol, de perte ou d'utilisation frauduleuse de vos moyens
        de paiement, contactez nos services dédiés 24h/24, 7j/7 en consultant la
        rubrique "Urgence".
      </p>

      * Hors jours fériés ** Service 0,15€/min + prix d'un appel
    </div>
  </div>
</div>
