:host {
  ::ng-deep {
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
      background-color: #e6e7eb;
      box-shadow: 5px 5px 5px #888888;
    }
    .mat-tab-label.mat-tab-label-active {
      background-color: #006599;
      color: white;
      box-shadow: 5px 5px 5px #888888;
    }
    .mat-tab-label.mat-tab-label-active:hover {
      background-color: #006599;
    }
    .mat-tab-label:hover {
      background-color: white;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
    }
  }
}
