<div
  class="example-ripple-container mat-elevation-z4 mt-4 ml-4 mr-4 blueRipple"
  matRipple
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color"
>


<div class="row mt-4 mb-4">
    <div class="col-sm-6">
      <div class="card border-light">
        <div class="card-body text-center">
            <img src="assets/participation.png" width="150px" />
            
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">Une Banque participative</h5>
          <p class="card-text">Notre Banque s'engage pour un nouveau modèle de financement.</p>
          <a href="#" class="btn btn-primary">EN SAVOIR PLUS</a>
        </div>
      </div>
    </div>
  </div>

</div>
